registry=https://pkgs.dev.azure.com/MetLife-Global/3e28f9aa-923b-4b44-a3e1-7f3041958773/_packaging/DS-E.Metlife-CL/npm/registry/
always-auth=true
fetch-retry-mintimeout 600000=true
fetch-retry-maxtimeout 1200000=true
fetch-timeout 1800000=true





//pkgs.dev.azure.com/MetLife-Global/3e28f9aa-923b-4b44-a3e1-7f3041958773/_packaging/DS-E.Metlife-CL/npm/registry/:username=VssToken
//pkgs.dev.azure.com/MetLife-Global/3e28f9aa-923b-4b44-a3e1-7f3041958773/_packaging/DS-E.Metlife-CL/npm/registry/:_password=NmxiM3lnd2NteXR6bndhbm5qdmRrenl3emNnZ3Brd2JzMzRjYzdsZDJkb3F3NGdoZHd4YQ==
//pkgs.dev.azure.com/MetLife-Global/3e28f9aa-923b-4b44-a3e1-7f3041958773/_packaging/DS-E.Metlife-CL/npm/registry/:email=VssEmail
//pkgs.dev.azure.com/MetLife-Global/3e28f9aa-923b-4b44-a3e1-7f3041958773/_packaging/DS-E.Metlife-CL/npm/registry/:always-auth=true
