@import '@ds.e/scss/src/foundation/all';
@import '@scss/_mixins.scss';

// .app-main-content-section {
//   margin-top: 0;
// }

.appointment-scheduler-header {
    display: flex;
    flex-direction: column;
    position: relative;

    .dse-margin-bottom-xs {
        margin: 0;
    }
    .dse-margin-top-xs {
        margin: 0;
    }
    .dse-margin-left-xs {
        margin: 0;
    }
    .dse-margin-right-xs {
        margin: 0;
    }
}

.appointment-scheduler {
    display: flex;
    flex-direction: column;

    &-main {
        display: flex;
        justify-content: center;
    }
    &-main-container {
        max-width: 112.5rem;
        padding: 0 1rem;
        transition: padding-bottom 500ms ease-in-out;
        @include phone {
            &:has(div):has(.dse-date-picker2) {
                padding-bottom: 25rem;
            }
            &:has(div):has(.mo-web-datepicker-calendar.hidden) {
                padding-bottom: 0;
            }
        }
    }
    &-grid {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 2rem;
        @include phone {
            grid-template-columns: 1fr 1fr;
            grid-gap: 1rem;
            margin-bottom: 4rem;
        }
        @include tablet {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    &-icon-container {
        width: 2.5rem;
    }
    &-label-title {
        font-family: $notosans;
        font-weight: 600;
    }
    &-card-container {
        width: auto;
        height: 10.5rem;
        padding: 1rem;
        @include phone {
            height: 9.625rem;
        }
        @include phone {
            padding: 0.75rem;
        }
        @include card-animation;
    }
    &-main-title {
        text-align: center;
        margin-bottom: 2.5rem;
        @include phone {
            font-size: 1.375rem;
            line-height: 2.063rem;
            margin-bottom: 2rem;
            padding: 0 2rem;
        }
    }
}

.appointment-scheduler-button-container {
    pointer-events: none;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin-top: rem(40);
    padding-top: 1rem;
    background-color: $metlife-light;
    z-index: 999;

    button {
        width: rem(186);
        height: rem(56);
        pointer-events: auto;

        .label {
            font-size: rem(16);
            font-family: $notosans;
            font-weight: 600;
            line-height: rem(24);
        }
    }

    @include phone {
        margin-top: 0px;
        width: calc(100vw - 2rem);
        display: flex;
        align-items: flex-end;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 0;
        padding-bottom: rem(48);
        padding-top: 1rem;

        button {
            width: 100%;
            height: rem(56);

            .label {
                font-size: rem(16);
                font-family: $notosans;
                font-weight: 600;
                line-height: rem(24);
            }
        }
    }
}

.appointment-scheduler-main-container {
    display: flex;
    justify-content: center;
    .dse-label-h4 {
        text-align: center;
    }

    @include phone {
        margin-bottom: 8rem;
    }
}

.appointment-scheduler-step-one-container {
    @include phone {
        margin-top: 2.5rem;
    }
}

.mo-scheduler-step-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include phone {
        &.mb-10 {
            margin-bottom: 10rem;
        }
    }

    .dse-label-h4 {
        margin-bottom: rem(40);

        @include phone {
            font-size: rem(22);
            line-height: rem(33);
            text-align: center;
            margin-bottom: rem(32);
        }
    }
}

.mo-scheduler-summary-field {
    margin-top: 1rem;
    &:first-of-type(div) {
        margin-top: 2rem;
    }
}

.mo-scheduler-step-content {
    display: flex;
    justify-content: center;
    width: rem(420);
    flex-direction: column;
    align-items: center;

    @include phone {
        width: 100%;
    }

    &.left {
        align-items: flex-start;
    }
}

.summary-agreement {
    margin-top: 2rem;
    font-family: $notosans;
    font-size: rem(16);
    font-style: normal;
    font-weight: 400;
    line-height: rem(24);
    color: $metlife-gray-darkest;

    .span-terms-of-service-link {
        color: $metlife-blue-two;
        text-decoration: underline;
        cursor: pointer;
    }
}
