@import '@ds.e/scss/src/foundation/all';
.mo-homepage-container {
    // Desktop
    margin-top: 11.813rem;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
        margin-top: 10.313rem;
        margin-left: 20px;
        margin-right: 20px;
    }

    @include phone {
        margin-top: 0px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .mo-homepage-floating-circle {
        position: absolute;
        left: 0px;
        top: 70px;
        z-index: -1;
        width: 50%;

        @media (max-width: 1000px) {
            top: 39px;
            width: 75%;
        }

        @media (max-width: 480px) {
            top: 39px;
            width: 100%;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .mo-greeting-container {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;

        @include phone {
            margin-top: 5.438rem;
        }

        .mo-greeting-title-container {
            display: flex;
            h4 {
                margin: 0px;
                font-size: 32px;
                font-weight: 500;
                line-height: 150%;
                font-family: $metlife-circular-medium;

                @include tablet {
                    font-family: $metlife-circular-medium;
                    font-size: 30px;
                }

                @include phone {
                    font-family: $metlife-circular-medium;
                    font-size: 22px;
                    color: $metlife-gray-darkest;
                }
            }
        }

        .mo-subtitle-container {
            display: flex;
            p {
                margin: 0px;
                font-family: $metlife-circular;
                font-weight: 400;
                font-size: 32px;
                line-height: 40px;
                color: $metlife-gray-darkest;

                @include tablet {
                    font-size: 30px;
                }

                @include phone {
                    font-size: 22px;
                    line-height: 33px;
                }
            }
        }
    }
}
