@import '@ds.e/scss/src/foundation/all';

.app-main-content-section {
    margin-top: 4.375rem;
}

.program-details {
    display: flex;
    background: white;
    flex-direction: column;
    .dse-item-breadcrumb-li {
        @include phone {
            max-width: 10rem;
        }
        white-space: nowrap;
        overflow: hidden;
    }
    .dse-button {
        &__outline {
            color: $metlife-blue-darkest-500;
            outline: none;
        }
    }
    &-inmediate-consultation {
        width: auto;
    }
    .dse-label {
        color: $metlife-gray-darkest;
    }
    .dse-button .label {
        font-family: $notosans;
        font-size: 1rem;
    }
    .dse-breadcrumb {
        display: flex;
    }
    &-first-section-container {
        background-image: url('../../../../assets/images/background.png');
        justify-content: center;
        display: flex;
    }
    &-first-section {
        padding: 2rem 1.25rem;
        @include phone {
            padding: 2rem 1.25rem 2.75rem 1.25rem;
        }
        @include tablet {
            padding: 2rem 1.25rem 2.75rem 1.25rem;
        }
        max-width: 67.5rem;
        width: 100%;
    }
    &-label {
        font-family: $notosans;
        line-height: 1.5rem;
    }
    &-label-business-main {
        font-family: $notosans;
        line-height: 1.5rem;
        @include phone {
            font-size: 0.875rem;
            line-height: 1.313rem;
        }
    }
    &-label.bullet {
        margin-bottom: 0.25rem;
    }
    &-label-bold {
        font-family: $notosans;
        font-weight: 600;
        line-height: 1.5rem;
    }
    &-bullet-container {
        display: flex;
        margin-bottom: 0.25rem;
    }
    &-info-section {
        background: white;
        white-space: pre-line;
        vertical-align: bottom;
        padding: 2rem 1.25rem 6rem 1.25rem;
        @include phone {
            margin-top: -1.25rem;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            padding: 1rem 1.25rem 5rem 1.25rem;
        }
        @include tablet {
            margin-top: -1.25rem;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            padding: 1.25rem 1.25rem 6rem 1.25rem;
        }
        max-width: 67.5rem;
        align-self: center;
    }
    &-top-container {
        display: flex;
        justify-content: space-between;
    }
    &-first-button {
        margin-bottom: 1rem;
        @include laptop {
            margin-bottom: 0;
            margin-right: 1rem;
        }
        @include desktop {
            margin-bottom: 0;
            margin-right: 1rem;
        }
    }
    &-buttons-section {
        margin-bottom: 3rem;
        @include laptop {
            display: flex;
            height: 3.5rem;
        }
        @include desktop {
            display: flex;
            height: 3.5rem;
        }
    }
    &-breadcrumb-container {
        margin-bottom: 3.5rem;
    }
    &-icon-container {
        margin-bottom: 1.5rem;
        width: 3.5rem;
        height: 3.5rem;
    }
    &-title-label {
        font-size: 2rem;
        @include phone {
            font-size: 1.375rem;
            line-height: 2.063rem;
        }
        @include tablet {
            font-size: 1.875rem;
        }
    }
    &-main-title-container {
        margin-bottom: 0.75rem;
    }
    &-time-container {
        display: flex;
        align-items: center;
    }
    &-time-icon-container {
        width: 0.875rem;
        height: 0.875rem;
        margin-right: 0.5rem;
    }
    &-description-title-container {
        margin-bottom: 1rem;
    }
    &-description-first-section-container {
        margin-bottom: 3rem;
    }
    &-description-second-section-container {
        @include laptop {
            display: flex;
        }
        @include desktop {
            display: flex;
        }
    }
    &-description-second-section-container div {
        @include laptop {
            flex: 1;
        }
        @include desktop {
            flex: 1;
        }
    }
    &-description-second-section-container div:nth-of-type(1) {
        @include phone {
            margin-bottom: 1rem;
        }
        @include tablet {
            margin-bottom: 1.5rem;
        }
        margin-right: 2rem;
    }
}
