@import '@ds.e/scss/src/foundation/all';

.dse-footer-logo .logo-wrapper {
    width: 14.063rem;
    @include phone {
        width: 10.536rem;
    }
}

.footer-column-title {
    @include phone {
        margin-top: rem(20);
    }
}
