@import '@ds.e/scss/src/foundation/all';

.splash-screen-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 96px);
    transition: opacity 300ms ease-in-out;

    @include phone {
        height: calc(100vh - 65px);
    }

    .delayed-text {
        max-width: rem(328);
        font-family: $notosans;
        margin-top: rem(40);
        font-size: rem(16);
        color: $brand-gray-dark;
        text-align: center;
        line-height: 1.5;

        @include phone {
            margin-top: rem(32);
            font-size: rem(14);
            line-height: 1.5;
        }

        .loading-dots:after {
            content: '.';
            animation: dots 3.2s steps(5, end) infinite;
        }
    }
}

.splash-screen-animation {
    margin-left: auto;
    margin-right: auto;
    width: rem(400);
    height: auto;

    @include phone {
        width: rem(260);
        height: auto;
    }
}

@keyframes dots {
    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow:
            0.25em 0 0 rgba(0, 0, 0, 0),
            0.5em 0 0 rgba(0, 0, 0, 0);
        opacity: 1;
    }
    40% {
        color: $brand-gray-dark;
        text-shadow:
            0.25em 0 0 rgba(0, 0, 0, 0),
            0.5em 0 0 rgba(0, 0, 0, 0);
        opacity: 1;
    }
    60% {
        text-shadow:
            0.25em 0 0 $brand-gray-dark,
            0.5em 0 0 rgba(0, 0, 0, 0);
        opacity: 1;
    }
    80% {
        text-shadow:
            0.25em 0 0 $brand-gray-dark,
            0.5em 0 0 $brand-gray-dark;
        opacity: 1;
    }
    95% {
        text-shadow:
            0.25em 0 0 $brand-gray-dark,
            0.5em 0 0 $brand-gray-dark;
        opacity: 1;
    }
    100% {
        text-shadow:
            0.25em 0 0 $brand-gray-dark,
            0.5em 0 0 $brand-gray-dark;
        opacity: 0;
    }
}
